u<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
<title>Plants</title>
</head>

<body>
    <div class="text-center card mx-auto justify-right" style="width: 60rem;">
        <h2 id="plant-name" class="card-title">{{plant.name}}</h2>
        <ul class="list-group list-group-flush">
        <li class=" list-group-item">Plant Habit: {{plant.plant_habit}}</li>
        <li class="list-group-item">Plant Life Cycle: {{plant.life_cycle}}</li>
        <li class="list-group-item">Sun Requirement: {{plant.sun_req}}</li>
        <li class="list-group-item">Water Preferences: {{plant.water_req}}</li>
        <li class="list-group-item">Plant Usest: {{plant.uses}}</li>
        <li class="list-group-item">Edible Parts: {{plant.edible_parts}}</li>
        <li class="list-group-item">Edible Parts: {{plant.edible_parts}}</li>
        <li class="list-group-item">Time to Fruit: {{plant.time_to_fruit}}</li>
        <li id="recipes" class="list-group-item">Recipes: </li>
        </ul>
        <button class=" btn-lg btn btn-success" type="submit">Back to Garden</button>

      </div>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src='/js/plantPage.js'></script>
    </body>
</html>